* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  width: 15em;
  height: 25em;
  background-color: gray;
  border-radius: 1em;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.card:hover {
  filter: brightness(1.2) contrast(1.2);
  transform: scale(1.05);
}
